<p><a href="{{ path('awesome_forum_topic_post') }}">+ New topic</a></p>

<table>
    <thead>
        <tr>
            <th>Topic</th>
            <th>Poster</th>
            <th>Date</th>
            <th>Replies</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in topics %}
        <tr>
            <td><a href="{{ path('awesome_forum_topic_topic', { 'id': topic.id }) }}">{{ topic.title }}</a></td>
            <td>{{ topic.posterName }}</td>
            <td>{{ topic.datePosted|date }}</td>
            <td>{{ topic.replies|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
