{% extends 'AwesomeForumBundle::layout.html.twig' %}

{% block content %}

<p><a href="{{ path('awesome_forum_topic_index') }}">Terug naar overzicht</a></p>

<h2>{{ topic.title }}</h2>
<p><small>Door <em>{{ topic.posterName }}</em> op <em>{{ topic.datePosted|date }}</em></small></p>
<p>{{ topic.message }}</p>

{% for reply in topic.replies %}
<hr>
<p><small>Reactie van <em>{{ reply.posterName }}</em> op {{ reply.datePosted|date }}</small></p>
<p>{{ reply.message }}</p>

{% endfor %}

<p><a href="{{ path('awesome_forum_topic_reply', { 'id': topic.id }) }}">Reply</a></p>

{% endblock %}